<div class="order-form">
  <%= form_with model: @purchase do |f| %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  </br>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  </br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </br>
  <%= f.label :cc_number, "Credit Card Number" %>
  <%= f.text_field :cc_number %>
  </br>
  <%= f.label :cc_exp_date, "Expiration Date" %>
  <%= f.text_field :cc_exp_date %>
  </br>
  <%= f.submit "Buy Ticket" %>
  <% end %>
</div>